<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pattern3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{377,208}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,53},{377,208}}</string>
                <key>sourceSize</key>
                <string>{441,322}</string>
            </dict>
            <key>pattern3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{311,284}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,27},{311,284}}</string>
                <key>sourceSize</key>
                <string>{441,322}</string>
            </dict>
            <key>pattern3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{296,224}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,56},{296,224}}</string>
                <key>sourceSize</key>
                <string>{440,322}</string>
            </dict>
            <key>pattern3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,315},{286,188}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{286,188}}</string>
                <key>sourceSize</key>
                <string>{440,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pattern3.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f46525695d4a9b16b1c105d7a02295a:1/1$</string>
            <key>textureFileName</key>
            <string>pattern3.png</string>
        </dict>
    </dict>
</plist>
