<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_gry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{456,1510}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,0},{456,1510}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
            <key>1_gry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,1600}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,0},{596,1600}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
            <key>1_gry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{546,1572}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,0},{546,1572}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1_gray.png</string>
            <key>size</key>
            <string>{1800,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:421f41596b21f8374390e6928ea3f266:1/1$</string>
            <key>textureFileName</key>
            <string>1_gray.png</string>
        </dict>
    </dict>
</plist>
